@import url('https://fonts.googleapis.com/css?family=Tangerine&display=swap');


/*----------------------- the main heading ---*/

#click-text p {
    text-align: center;
    font-size: 17px;
    margin-left: 10px;
    margin-right: 10px;
    padding-right: 10px;
    padding-left: 10px;
}

#the-ring {
    width: 140px;
    height: 140px;
    margin-left: auto;
    margin-right: auto;
    filter: grayscale(50%);
    opacity: 0.4;
}

.opening-line {
    text-align: center;
    font-size: 21px;




}

thumbnail the-ring {
    text-align: center;
}

h1,
.h1 {
    font-size: 5rem;
    color: #ffc158;
    text-align: center;
    padding-bottom: 14px;
    padding-top: 15px;
    padding-right: 36px;
    padding-left: 10px;
    font-family: 'Tangerine', cursive;
    margin-right: 10px;
    margin-left: 10px;
}


h2,
h3,
h4 {
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Tangerine', cursive;
    color: #ffc158;
    text-align: center;
    padding-bottom: 25px;
    margin-bottom: 10px;

}

h4 {
    font-size: 66px;
}

h3 {
    font-size: 50px;
    padding-top: 60px;
    padding-bottom: 60px;
}

h2 {
    font-size: 80px;
}


img {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}



#the-ring-quote-1st-line,
#the-ring-quote-2nd-line,
#the-ring-quote-3rd-line,
#the-ring-quote-4th-line {
    text-align: center;
    font-size: 40px;
    color: #ffc158;
    padding-top: 5px;
    font-family: 'Tangerine', cursive;
    display: none;
}


.modal-content p {
    font-size: 20px;
}

.btn {
    font-size: 1.85rem;
}

/*------------------------------------- graph styling--------------------------*/

.dc-chart .axis line,
.dc-chart .axis path {
    fill: none;
    stroke: #ffc158;
    shape-rendering: crispEdges;
}

g text {
    fill: #ffc158;
}


g.axis.x text {
    transform: rotate(-45deg) translate(-60px, 0px);
}





/* faction cards*/

#ork-pic,
#nazgul-pic,
#ainur-pic,
#dead-pic,
#dwarf-pic,
#elf-pic,
#hobbit-pic,
#men-pic,
#hobbit-pic,
#ent-pic {
    display: inline-block;
    width: 250px;
    height: 250px;
    padding: 4px;
    line-height: 1.42857143;
    background-color: transparent;
    border: 5px solid #797575;
    border-radius: 4px;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

/* --------------------- bg image---------------------*/

#opening-bg {
    background: url(../images/barad-dur.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: 1000;
    padding-bottom: 30px;
    width: 100vw;
    min-height: 100vh;

}

.character-graph-section {
    background: url(../images/elven-home.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: 1000;
    padding-bottom: 30px;
    width: 100vw;
    min-height: 100vh;
}

.thumbnail {
    text-align: center;
    background-color: transparent;
    border: 1px solid transparent;
    background-color: none;
    border: none;
}

thumbnail img {
    text-align: center;
}





@media only screen and (min-width: 768px) {
    h1,
    .h1 {
        font-size: 9rem;

        color: #ffc158;
        text-align: center;
        padding-bottom: 10px;
        padding-top: 30px;
        padding-right: 41px;
        padding-left: 10px;
        font-family: 'Tangerine', cursive;
    }

    .opening-line {
        text-align: center;
        font-size: 20px;
        padding-top: 14px;
        padding-bottom: 0px;
    }


    #the-ring {
        width: 250px;
        height: 250px;
        margin-left: auto;
        margin-right: auto;
        filter: grayscale(50%);
        opacity: 0.4;
    }



    #the-ring-quote-1st-line,
    #the-ring-quote-2nd-line,
    #the-ring-quote-3rd-line,
    #the-ring-quote-4th-line {
        text-align: center;
        font-size: 50px;
        color: #ffc158;
        padding-top: 10px;
        font-family: 'Tangerine', cursive;
        display: none;
    }

    p {
        margin-top: 0;
        margin-bottom: 1rem;
        padding-top: 10px;
        font-size: 24px;

    }

    h4 {
        font-size: 60px;
    }

    .modal-content p {
        font-size: 20px;
    }

    #click-text p {
        text-align: center;
        font-size: 30px;
        margin-left: 10px;
        margin-right: 10px;
        padding-right: 10px;
        padding-left: 10px;
    }


}


@media only screen and (min-width: 992px) {

    h1,
    .h1 {
        font-size: 8rem;
        color: #ffc158;
        text-align: center;
        padding-bottom: 10px;
        padding-top: 10px;
        padding-right: 41px;
        padding-left: 10px;
        font-family: 'Tangerine', cursive;
    }
    #the-ring {
        width: 136px;
        height: 130px;
        margin-left: auto;
        margin-right: auto;
        filter: grayscale(50%);
        opacity: 0.4;
        padding-bottom: 0px;
        margin-top: 15px;
    }
    #the-ring-quote-1st-line,
    #the-ring-quote-2nd-line,
    #the-ring-quote-3rd-line,
    #the-ring-quote-4th-line {
        text-align: center;
        font-size: 40px;
        color: #ffc158;
        padding-top: 10px;
        font-family: 'Tangerine', cursive;
    }
}
